# Ignore full sam folders
sam3/

# Python cache
__pycache__/
*.pyc
*.pyo

# Data
*.tiff
*.tif
*.png
*.jpg
correct_masks/
incorrect_masks/
mask_results.csv
checkpoints/

# Tests
text_polygon.py
